.welcome-page{
    overflow: auto;
    position: relative;
    //border: 5px solid greenyellow;
    background:lightseagreen;
    color: white;
    padding: 10px;
    height: 60vh;
}

.highlight{
    //color: rgb(0, 0, 0);
    //background-color: blanchedalmond;
    
    font-weight: bold;
}
.site-meme{
    position: relative;
    left: 450px;
    top: 100px;
    transform: scale(3);
    max-height: 80px;
    //border: 4px solid;
    border-radius: 10px;
    //background-color: rgb(22, 214, 105);  
}