.session-summary{
   display: flex;
   flex-direction: column;

    width: 70vw;
    height:70vh;
    padding: 20px;

    border: none;
    border-radius: 7px;
    color:  white;
    background: lightseagreen;
    overflow: auto;
}

.session-summary-head{
    font-size: 30px;
}

.track-btn{
    place-self: center;
    width: 7vw;
    height: 50px;
    color:  lightseagreen;
    background: white;
    font-size: 25px;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.track-btn:hover{
    background-color: rgb(206, 191, 213);
    color: white;
  
}