<div class="session-summary" id="session-summary">
  <div>
    <h1 class="session-summary-head">Good Job</h1>
  </div>
  <br>
  <div>
    <h2 id="session-completed-tasks">Completed tasks</h2>
    <div *ngFor="let goal of goals" id="session-completed-tasks-goals">
      <input type="checkbox" [value]="goal">{{ goal }}
    </div>
  </div>
  <br>
  <div>
    <h2 id="session-focus">Level of focus</h2>
    <div id="session-focus-level">
      <label for="session-focus-level-in">value: </label>
      <input id="session-focus-level-in" type="range" min="0" max="10" value="0" title="satisfaction-level"
        (input)="showFocusInput()">
      <p id="session-focus-level-out">0</p>
    </div>
  </div>
  <br>
  <div>
    <h2 id="session-distractions">Distractions</h2>
    <div name="" id="session-options">
      <input type="checkbox" value="phone"> phone
      <input type="checkbox" value="people"> people
      <input type="checkbox" value="other"> other
    </div>
  </div>
  <button class="track-btn" type="button" id="session-summary-track-button" (click)="track()">track</button>

</div>