.timer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
    width: 60vw;
    height:60vh;
    padding: 20px;

    //border: 10px solid rgb(244, 248, 250);
    border-radius: 7px;

    //background: linear-gradient(35deg, #760a71 15%, #9d1296 28%,#7d2e79 32%,#7b3778 50%, #795b77 72%);
    background: lightseagreen;

    overflow: auto;
}

.timer-frame{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: end;
   
    margin: 4px;
    border: 3px solid;
    border-radius: 5px;

    background: white;
    color: lightseagreen;


    width: 30vw;
    height: 180px;
}
.timer-goals{
    margin-bottom: 0px;
}

.timer-goals-list{
    width: 50vw;
    height: 25vh;
    padding: 5px;
    border: solid;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 1000;
    overflow: auto;
    background-color: white;
    color: lightseagreen;
}

.timer-numbers{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    font-size: clamp(20px,10vw, 100px);
    font-weight: bold;
}

.timer-numbers .timer_minute{
    transition: 1s;
}
.timer-value{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.timer-btns{
    display: flex;
    flex-direction: row;
    justify-content: center space-between;
}

.timer-start-btn{
    margin: 4px;
    border-radius: 60px ;
    color: lightseagreen;
    background-color: white;
    border-color: lightseagreen;
    border: none;
}

.timer-pause-btn{
    display: none;
    margin: 4px;

    border-radius: 60px ;
    color: lightseagreen;
    background-color: white;
    border: none;
    //border-color: lightseagreen;
}

.timer-reset-btn{
    margin: 4px;
    border-radius: 60px;
    color: lightseagreen;
    background-color: white;
    border-color: lightseagreen;
    border: none;

}
.timer-pause-btn:hover,
.timer-start-btn:hover,
.timer-reset-btn:hover{
    color: rgb(255, 255, 255);
    background: rgb(206, 191, 213);
    transition: .9s;
}

