<div class="charts">
    <div class="charts-single-grouping">
        <button (click)="previousDay()">&lt;=</button>
        <button (click)="eventListenerOfFirstChart(setQuality)">Quality</button>
        <button (click)="eventListenerOfFirstChart(setQuantity)">Quantity</button>
        <button (click)="eventListenerOfFirstChart(setCompletedTasks)">Goals</button>
        <button (click)="nextDay()">=&gt;</button>
    </div>

     <div>
        <h2>
            <a class="charts-daychart-currentday">Day of the year: {{this.dayOfFirstChart}}</a>
        </h2>
        
     </div>
        
    <div class="line" [chart]="dayChart"></div>

    <div class="charts-single-grouping">
        <button (click)="previousWeek()">&lt;=</button>
        <button (click)="eventListenerOfSecondChart(setQuality)">Quality</button>
        <button (click)="eventListenerOfSecondChart(setQuantity)">Quantity</button>
        <button (click)="eventListenerOfSecondChart(setCompletedTasks)">Goals</button>
        <button (click)="nextWeek()">=&gt;</button>
    </div>
    <div>
        <h2>
            <a class="charts-daychart-currentday">Week of the year: {{this.weekOfSecondChart}}</a> 
        </h2>
    </div>
    
    <div class="line" [chart]="weekChart"></div>
    
    <div class="charts-single-grouping">
        <button (click)="previousYear()">&lt;=</button>
        <button (click)="eventListenerOfThirdChart(setQuality)">Quality</button>
        <button (click)="eventListenerOfThirdChart(setQuantity)">Quantity</button>
        <button (click)="eventListenerOfThirdChart(setCompletedTasks)">Goals</button>
        <button (click)="nextYear()">=&gt;</button>
    </div>
    <div>
        <h2>
            <a class="charts-daychart-currentday">Year: {{this.yearOfThirdChart}}</a>
        </h2>
    </div>
    
    <div class="line" [chart]="yearChart"></div>
    
</div>