.app-sidebar{
    position: absolute;
    width: 5.1%;
    height: 720px;
    margin-top: 0%;
    background-color: rgb(30, 179, 216);
    font-size: smaller;
   
}
.logo-img{
    transform: scale(.6);
    position: relative;
    top: 3%;
    padding: 5px;
    background-color: antiquewhite;
    border-radius: 15px 15px;
}
.sidebar-item-icon{
    position: relative;
    width: 35px;
    height: 35px;
    top: 75%;
    left: 25%;
    right:25%;
    border-radius: 15px 15px;
    margin: 5% 5%;
}