.welcome-page{
    background: lightseagreen;
    color: white;
    padding: 20px;
    height: 60vh;
    border-radius: 5px;
}

.highlight{
    color: aqua;
}
.welcome-page-ref-link a{
    color: white;
}