.main-container{
    position: relative;
    display: flex;
    justify-content: center;
    height: 1920px; 
    width: 100vw;
    background: linear-gradient(45deg, lightseagreen, white, lightseagreen);
    padding-top: 100px;
}
/*.session-box{
    position: relative;
    display: grid;
    place-items: center;
    place-content: center;
    place-self: center;
    grid-template: 1fr;
    box-sizing: border-box;
    margin: 40px;
    width: clamp(560px, 75vw, 1200px);
    height: 500px;
    padding: 20px;
    max-height: 720px;
    transform: translate(16vw, 0vh); 
    overflow: auto;   

}*/


